body {
    font-family: "Courier New", Courier, monospace; 
    background-color: black; 
    color: #33ff33; 
    padding: 20px; 
  }
  
  .head {
    text-align: center;
    color: #00ff00;
  }
  
  
  .terminal {
    .terminal {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(16ch, 1fr)); /* Colonnes adaptatives basées sur la largeur des mots */
        gap: 0; 
        justify-content: start; 
        padding: 10px; 
    }
  }

  div, span, p {
    margin: 0; 
    padding: 0; 
    border: none; 
    background: none; 
    display: inline; 
}
  
  
  .word {
    display: inline-block;
    padding: 10px;
    border: none;
    text-align: center;
    cursor: pointer; 
    white-space: nowrap; 
    color: #008000;
  }
  
  .word:hover {
    background-color: #008000; 
    color: white; 
  }
  
  
  .message {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #ff3333; 
  }

