body {
    font-family: "Courier New", Courier, monospace; 
    background-color: black; 
    color: #33ff33; 
    padding: 20px; 
  }
  
  .head {
    text-align: center;
    color: #00ff00;
  }
  
  
  .terminal {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px; 
    margin: 20px auto;
    width: 80%; 
    justify-content: center; 
  }
  
  
  .word {
    display: inline-block;
    padding: 10px;
    border: 1px solid #33ff33;
    text-align: center;
    cursor: pointer; 
    white-space: nowrap; 
  }
  
  .word:hover {
    background-color: #008000; 
    color: white; 
  }
  
  
  .message {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #ff3333; 
  }